html {
  text-transform: uppercase;
}

body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

ul, nav {
  font-family: sans-serif;
}

.wrapper {
  background-color: #eee8d5;
}

.contents, .favs, .facts, .types {
  color: #93a1a1;
}

p .dfn {
  background-color: #b58900;
}

div.dfn + p + strong {
  color: #fff;
}

a {
  background-color: #719e07;
}

.external {
  background-color: #2694d8;
}
ol #favs:first-child {
  color: #719e47;
}

ol #favs:last-child {
  #2aa198;
}

li .types:nth-child(odd) {
  background-color: #657ba3;
}

li .types:nth-child(even) {
  background-color: #586e75;
}

li .types:nth-child(3n) {
  background-color: #d04b16;
}
